html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1270px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #333333;
}

.vertical-line::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: var(--white-color);
  height: 100%;
  right: -15px;
  pointer-events: none;
}

.vertical-line_footer:not(:last-child)::after  {
  content: "";
  position: absolute;
  width: 1px;
  background-color:var(--lightblue-color);
  height: 100%;
  right: -10px;
  pointer-events: none;
}