.middle__wrapper {
  display: flex;
  margin-bottom: 120px;
  margin-top: 120px;
}

/* IMAGES */

.middle__images-wrapper {
  display: flex;
}

.middle__image-mini {
  height: 145px;
  width: 145px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5px;
}

.middle__image-mini :hover {
  cursor: pointer;
}

.middle__image-mini img {
  height: 130px;
  width: 130px;
}

.middle__image-gen {
  height: 445px;
  width: 445px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 8px;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.middle__image-gen img {
  height: 430px;
  width: 430px;
  background-color: #40bcb0;
}

.middle__image-gen :hover {
  cursor: pointer;
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

/* INFO */

.middle__product-info {
  margin-left: 120px;
}

.product__name {
  font-size: 25px;
}

.product__price {
  font-size: 45px;
  color: var(--green-color);
  margin-top: 15px;
  margin-bottom: 15px;
}

.cart__navigation a {
  height: 50px;
  width: 180px;
  font-size: 20px;
  background-color: #40bcb0;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  transition: 200ms linear 50ms;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.cart__navigation a:hover {
  filter: saturate(1.5);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.cart__navigation a {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  color: var(--white-color);
}

.cart__navigation img {
  height: 35px;
  width: 35px;
}

.product__description {
  margin-bottom: 15px;
}

